certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
contourpy==1.1.0
cryptography==39.0.2
cycler==0.11.0
efficientnet-pytorch==0.7.1
fonttools==4.42.1
idna==3.4
imageio==2.31.2
imgaug==0.4.0
importlib-resources==6.0.1
kiwisolver==1.4.5
lazy_loader==0.3
matplotlib==3.7.0
munch==4.0.0
networkx==3.1
numpy==1.23.5
opencv-python==4.8.0.76
packaging==22.0
Pillow==10.0.0
pretrainedmodels==0.7.4
pycparser==2.21
pyOpenSSL==23.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
PyWavelets==1.4.1
requests==2.31.0
scikit-image==0.21.0
scipy==1.10.0
segmentation-models-pytorch==0.3.1
shapely==2.0.1
six==1.16.0
tifffile==2023.8.30
timm==0.4.12
torch==1.12.1
torchvision==0.13.1
tqdm==4.64.1
typing_extensions==4.7.1
urllib3==2.0.4
zipp==3.16.2
